<h3>Log in:</h3>

<%= form_for @user do |f| %>
<%= f.label :username %>
<%= f.text_field :username %>
<br></br>
<%= f.label :password %>
<%= f.password_field :password %>
<br></br>
<%= f.label :is_seller, "Tick if you are a seller:" %>
<%= f.check_box :is_seller %>
<br><br>
<%= f.submit "Submit" %>
<% end %>

Sign Up as:
<br><br>
<%= link_to "a Buyer", new_buyer_path %>
 or
<%= link_to "a Seller", new_seller_path %>
