<div class="text-center">
  <h3>Edit account details:</h3>

  <%= form_for @buyer do |f| %>
    <%= f.label :billing_address %>:
    <%= f.text_field :billing_address %>
    <%= f.label :billing_postcode, "Postcode" %>:
    <%= f.text_field :billing_postcode %>
    <br></br>
    <%= f.label :delivery_address %>:
    <%= f.text_field :delivery_address %>
    <%= f.label :delivery_postcode, "Postcode" %>:
    <%= f.text_field :delivery_postcode %>
    <br></br>
    <%= f.submit "Submit"%>
  <% end %>
  <br>
  <%= form_tag @buyer, method: 'get' do %>
    <%= submit_tag "Cancel" %>
  <% end %>

</div>
