<%= link_to "Edit details", edit_buyer_path %>

<h3>Hi, <%= @buyer.name %>!</h3>

<% if @buyer.billing_address %>
  <div>
    <h3>Addresses:</h3>
    <li>Billing address:</li>
    <%= @buyer.billing_address %>, <%= @buyer.billing_postcode %>
<br><br>
    <li>Delivery address:</li>
    <%= @buyer.delivery_address %>, <%= @buyer.delivery_postcode %>
  </div>
<% end %>


<% if cart != {} %>
  <div>
    <h3>Your Cart:</h3>
    <h4>TOTAL: £ <%= cart_total %></h4>
    <ul>
      <% @cart_items.each do |item, quant| %>
        <li><%= quant %> x £<%= item.price %> | <%= item.name%> - - <%= link_to "remove", seller_remove_product_path(item.seller, item, @buyer.id) %></li>
      <% end %>
    </ul>
    <%= form_tag '/sales' do %>
      <%= submit_tag "Checkout" %>
    <% end %>
  </div>
<% end %>

