<%= link_to "Edit details", edit_buyer_path %>

<h3>Hi, <%= @buyer.username %>!</h3>

<div>
  <h3>Addresses:</h3>
  <li>Billing address</li>
  <%= @buyer.billing_address %>, <%= @buyer.billing_address_postcode %>

  <li>Delivery address</li>
  <%= @buyer.delivery_address %>, <%= @buyer.delivery_address_postcode %>
</div>
