<%= link_to "Back to all sellers", sellers_path %>
<br><br>

<% if current_user.is_seller && current_user.class_id == @seller.id %>
  <%= link_to "Add a Product", new_seller_product_path(@seller) %>
<% end %>

<% if !current_user.is_seller %>
  <%= link_to "Profile/Cart", buyer_path(Buyer.find(current_user.class_id)) %>
<% end %>

<h3>Here are all products:</h3>
<% if !current_user.is_seller %>
  <p>Shop from one shop for the fastest delivery.</p>
<% end %>

<div>
<% @products.each do |product| %>
  <%= link_to product.name, seller_product_path(product.seller, product) %>
  <% if current_user.is_seller && current_user.class_id == @seller.id %>
    - - <%= link_to "edit", "/sellers/#{@seller.id}/products/#{product.id}/edit", method: 'get' %>
  <% end %><br>
  £<%= product.price %><br>
<% end %>
</div>

<br><br>
