<div class="text-center">

  <% if @product.img_url %>
    <%= image_tag @product.img_url, height: 200 %><br>
  <% end %>

    <%= @product.name %><br>

    Price: £<%= @product.price %><br>
    <!-- <br><br> -->

    <% if !current_user.is_seller %>
      Quantity:

      <%= form_tag "/sellers/#{@product.seller.id}/products/#{@product.id}/add", method: 'post' do %>
      <br>
        <%= number_field_tag :quantity %>
        <%= submit_tag "Add to cart" %>
      <% end %>
      <br></br>
    <% end %>

    <%= @product.description %><br>

  <br><br>
</div>
