<%= link_to "Back to all products from this seller", seller_products_path(@seller)  %>
<br><br>
<div>
  <%= @product.name %><br>
  Price: £<%= @product.price %><br>
  <br><br>

  Quantity:

  <%= form_tag "/sellers/#{@product.seller.id}/products/#{@product.id}/add", method: 'post' do %>
  <%= select_tag(:quantity, options_for_select([['1', 1], ['4', 4], ['7', 7], ['14', 14], ['28', 28]])) %>
  <%= submit_tag "Add to cart" %>
  <% end %>
  <br></br>

  <%= @product.description %><br>

</div>

<br><br>
