<!DOCTYPE html>
<html>
  <head>
    <title>WeeDrop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>

    <header class="masthead text-white text-center">
      <div class="container">
        <div class="row">

          <div class="col-sm-3">
            <%= image_tag "kanabis-logo.jpg", class: "round-logo", height: 0 %>
          </div>
          <div class="col-sm-1">
          </div>
          <div class="col-sm-4">
            <%= image_tag "weedrop-logo.png", width: 300, height: 170 %>
            <h3 class="shop-headline"><i>Shop 'til WeeDrop</i></h3>
          </div>
          <div class="col-sm-1">
          </div>
          <div class="col-sm-3">
            <%= image_tag "kanabis-logo.jpg", class: "round-logo", height: 0 %>
          </div>

        </div>
        <hr>
        <% if logged_in? %>
          <div class="row justify-content-around">
            <div class="col-md-2" id="market_place_link">
              <h4><%= link_to "MarketPlace", sellers_path %></h4>
            </div>
            <div class="col-md-2">
              <% if current_user.is_seller %>
                <h4><%= link_to "My Shop", seller_products_path(current_user.class_id) %></h4>
              <% end %>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-2">
              <% if current_user.is_seller %>
                <% account = Seller.find(current_user.class_id) %>
                <h4><%= link_to "My Account", account %></h4>
              <% else %>
                <% account = Buyer.find(current_user.class_id) %>
                <h4><%= link_to "My Account / Cart", account %></h4>
              <% end %>
            </div>
            <div class="col-md-2">
              <h4><%= link_to "Logout", logout_path %></h4>
            </div>
          </div>
        <% end %>
      </div>
    </header>

    <% if flash[:errors] %>
      <div class="text-center">
        <h4>Oops.. something went wrong:</h4>
        <ul>
          <% flash[:errors].each do |error| %>
            <li style = "color: red;"><%= error %></li>
          <% end %>
        </ul>
        <br>
      </div>
    <% end %>

    <%= yield %>

    <!-- <hr> -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <%= image_tag "kanabis-logo.jpg", class: "round-logo", height: 90 %>
          </div>
          <div class="col-sm-8">
            <p>
              If you are a London resident with a medical marijuana recommendation,
              you can join WeeDrop today and have cannabis delivered right to your front door!
              WeeDrop is a fully compliant medical marijuana delivery cooperative that can ship same day to patients everywhere in London.
              We are committed to the safe, discreet, and affordable delivery of medical marijuana.
            </p>
          </div>
          <div class="col-sm-2">
            <%= image_tag "kanabis-logo.jpg", class: "round-logo", height: 90 %>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
